@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #373a46;
}

h1 {
  color: #e4d020;
  margin: 3rem auto 1rem;
  width: fit-content;
}
.container {
  margin: 6rem auto 0;
  width: 70%;
  min-height: 100vh;
  color: aliceblue;
  position: relative;
  box-sizing: border-box;
}

.items .item {
  width: 100%;
  margin-bottom: 1rem;
}

.items .item .content {
  padding: 1rem;
  background: #41434d;
  border-radius: 5px;
}

.items .item:nth-child(even) .content {
  margin-left: 60%;
}

.items .item:nth-child(odd) .content {
  text-align: right;
  margin-right: 60%;
}

.items .item .content .year {
  color: #e4d020;
}

.container .divide {
  position: absolute;
  left: 50%;
  height: 100%;
  width: 3px;
  background-color: #e4d020;
}

.container .items .item .dot {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #e4d020;
  left: calc(50% - 5px);
  margin-top: 1.2rem;
}

@media all and (max-width: 757px) {
  .container {
    width: 90%;
    margin: 3rem auto 0;
  }

  .items {
    display: flex;
    flex-direction: column;
  }
  .items .item:nth-child(even) .content,
  .items .item:nth-child(odd) .content {
    margin: 1rem auto;
    text-align: left;
  }

  .container .divide {
    left: -1px;
  }

  .container .items .item .dot {
    left: -2%;
    margin-top: 2.2rem;
  }
}
